target/
/scalalib/fetchedSources/
/partest/fetchedSources/
/linker-interface/**/scalajs-logging-src/
/linker-interface/**/scalajs-logging-src-jars/
/node_modules/
.history
.scala_dependencies

# IDE specific
.cache
.cache-main
.classpath
.project
.settings/
/.idea/
/.idea_modules/
bin/
.bloop/
/.metals/
.bsp
/project/**/metals.sbt
/project/project
/.vscode/

# User specific
/.jvmopts
/.sbtopts

# mac
.DS_Store
# Local Netlify folder
.netlify
.env
.java-version
/package.json
/package-lock.json
/build.sbt
/project/build.properties
/project/plugins.sbt
